body{
    font-family:'Noto Sans TC', sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}
.subheading{
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}
.expedu_icon{
    color: #495057;
}
.expedu_icon:hover{
    background-color: #495057;
    color: #fff;
}
:root{
    --bs-primary: #2a48ac;
    --bs-primary-rgb: 42,72,172;
    --bs-secondary:#87959D;
    --bs-secondary-rgb:135,149,157;
}
.expedu_icon:hover{
    color: var(--bs-secondary);
}
a{
    color:var(--bs-primary);
}
.social-icons .social-icon:hover{
    background-color: var(--bs-secondary);
}
a:hover{
    color:#87959D;
}
td{border: 1px solid #495057;}

.btn btn-primary my-2{
    background-color: var(--bs-secondary);
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.left {
    height: 100vh;
    width: 50%;
    background-color: rgb(91, 91, 255);
    float: left;
}

.right {
    height: 100vh;
    width: 50%;
    background-color: rgb(248, 85, 85);
    float: right;
}